@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

$gradient-1: linear-gradient(to top, hsl(256, 71%, 46%), hsl(241, 72%, 46%));
$gradient-2: linear-gradient(
  to bottom,
  hsl(252, 100%, 67%),
  hsl(241, 81%, 54%)
);

// Media size
$half-screen-height: 50svh;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1440px;

// Sizing
$mobile-width: 375px;
$tablet-width: 686px;
$desktop-width: 736px;
$tablet-margin: 41px;
$tablet-padding-inline: 3.8vh;
$tablet-padding-block: 37vh;
$desktop-padding-inline: 32.6vh;
$desktop-padding-block: 32.6vh;

// Space
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-1000: 80px;

// Font configuration
$line-height-100: 100%;
$line-height-130: 130%;
$letter-spacing: 0px;
$font-hanken-grotesk: "HankenGrotesk", sans-serif;

@mixin text($size, $lh, $font-weight) {
  font-family: $font-hanken-grotesk;
  font-size: $size;
  line-height: $lh;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-navy-950: hwb(224 19% 65%);
  --color-navy-200: hsl(241, 100%, 89%);
  --color-navy-50: hsl(221, 100%, 96%);
  --color-blue-800: hsl(234, 85%, 45%);
  --color-blue-50: hsl(234, 71%, 97%);
  --color-yellow-400: hsl(39, 100%, 56%);
  --color-yellow-50: hsl(38, 100%, 98%);
  --color-red-400: hsl(0, 100%, 67%);
  --color-red-50: hsl(0, 100%, 98%);
  --color-green-500: hsl(166, 100%, 37%);
  --color-green-50: hsl(162, 63%, 97%);
}

$color-white: var(--color-white);
$color-black: var(--color-black);
$color-navy-950: var(--color-navy-950);
$color-navy-200: var(--color-navy-200);
$color-navy-50: var(--color-navy-50);
$color-blue-800: var(--color-blue-800);
$color-blue-50: var(--color-blue-50);
$color-yellow-400: var(--color-yellow-400);
$color-yellow-50: var(--color-yellow-50);
$color-red-400: var(--color-red-400);
$color-red-50: var(--color-red-50);
$color-green-500: var(--color-green-500);
$color-green-50: var(--color-green-50);

.text-preset-1 {
  @include text(clamp(3.5rem, 2.5rem + 1.39vw, 3.5rem), $line-height-100, 900);
}

.text-preset-2 {
  @include text(clamp(3.5rem, 2.5rem + 1.39vw, 3.5rem), $line-height-100, 200);
}

.text-preset-3 {
  @include text(clamp(2rem, 1.5rem + 0.69vw, 2rem), $line-height-130, 500);
}

.text-preset-4 {
  @include text(clamp(1.5rem, 1.2rem + 0.52vw, 1.5rem), $line-height-130, 700);
}

.text-preset-5-bold {
  @include text(
    clamp(1.125rem, 0.95rem + 0.39vw, 1.125rem),
    $line-height-130,
    700
  );
}

.text-preset-5-medium {
  @include text(
    clamp(1.125rem, 0.95rem + 0.39vw, 1.125rem),
    $line-height-100,
    500
  );
}

.text-preset-6-bold {
  @include text(clamp(1rem, 0.85rem + 0.35vw, 1rem), $line-height-130, 700);
}

.text-preset-6-medium {
  @include text(clamp(1rem, 0.85rem + 0.35vw, 1rem), $line-height-130, 500);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;

  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  min-height: 100vh;

  @media (min-width: $bp-tablet) {
    flex-direction: row;

    align-items: center;
    background: $color-navy-50;
    justify-content: center;
  }
}

.wrapper {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row;
    background: $color-white;
    border-radius: 24px;
    box-shadow:
      0 22px 32px rgba(0, 0, 0, 0.12),
      0 4px 12px rgba(0, 0, 0, 0.06);
  }
}

.panel {
  @media (min-width: $bp-tablet) {
    max-width: $tablet-width;
  }

  @media (min-width: $bp-desktop) {
    max-width: $desktop-width;
  }

  &--result {
    background: $gradient-2;

    margin: 0;
    padding: 0;
    border-radius: 0 0 28px 28px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $bp-tablet) {
      width: 40dvh;
      border-radius: 25px;
    }

    &--container {
      margin-block: $spacing-200;
      margin-inline: $spacing-500;
      @media (min-width: $bp-tablet) {
        margin: $spacing-500;
      }

      &--score {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          color: $color-navy-200;
        }

        &--point {
          background: $gradient-2;
          aspect-ratio: 1 / 1;
          width: 100%;
          max-width: 120px;
          max-height: 120px;
          align-content: center;
          border-radius: 100px;
          margin-block: $spacing-200;
          margin-inline: $spacing-200;

          @media (min-width: $bp-tablet) {
            margin-block: $spacing-400;
            margin-inline: $spacing-400;
            max-width: 180px;
            max-height: 180px;
          }

          div:first-child {
            color: $color-white;
          }

          div:nth-child(2) {
            color: $color-navy-200;
            opacity: 51%;
          }
        }
      }

      &--status {
        h3 {
          color: $color-white;
        }

        p {
          color: $color-navy-200;
        }
      }

      &--status > * + p {
        margin-top: $spacing-200;
        @media (min-width: $bp-tablet) {
          margin-top: $spacing-400;
        }
      }
    }
  }

  &--summary {
    @media (min-width: $bp-tablet) {
      height: 55svh;
      width: 40svh;
    }

    &--container {
      display: flex;
      flex-direction: column;
      margin-block: $spacing-200;
      margin-inline: $spacing-500;
      @media (min-width: $bp-tablet) {
        margin: $spacing-500;
      }

      h2 {
        color: $color-navy-950;
      }
    }
  }
}

.grid {
  @media (min-width: $bp-tablet) {
    margin-top: $spacing-400;
  }
  margin-top: $spacing-200;
  display: grid;
  width: 100%;
}

.reaction {
  background: $color-red-50;
}

.reaction > div > span {
  color: $color-red-400;
}

.memory > div > span {
  color: $color-yellow-400;
}

.verbal > div > span {
  color: $color-green-500;
}

.visual > div > span {
  color: $color-blue-800;
}

.reaction,
.memory,
.verbal,
.visual {
  > div:nth-child(2) > span:first-child {
    color: $color-navy-950;
  }
}

.reaction,
.memory,
.verbal,
.visual {
  > div:nth-child(2) > span:nth-child(2) {
    color: $color-navy-950;
    opacity: 50%;
  }
}

.memory {
  background: $color-yellow-50;
}

.verbal {
  background: $color-green-50;
}

.visual {
  background: $color-blue-50;
}

.row {
  margin-block: 0 $spacing-200;
  padding-block: $spacing-100;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-inline: $spacing-200;

  @media (min-width: $bp-tablet) {
    padding-block: $spacing-200;
  }
}

.icone {
  margin-inline: 0 10px;
}

.continue {
  text-align: center;
  background: $color-navy-950;
  border-radius: 25px;
  padding-block: $spacing-200;
  margin-block: $spacing-200;
  color: $color-white;

  @media (min-width: $bp-tablet) {
    margin-block: $spacing-200;
  }
}
