@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// Colors
$color-white: hsl(0, 100%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-navy-950: hwb(224 19% 65%);
$color-navy-200: hsl(241, 100%, 89%);
$color-navy-50: hsl(221, 100%, 96%);
$color-blue-800: hsl(234, 85%, 45%);
$color-blue-50: hsl(234, 71%, 97%);
$color-yellow-400: hsl(39, 100%, 56%);
$color-yellow-50: hsl(38, 100%, 98%);
$color-red-400: hsl(0, 100%, 67%);
$color-red-50: hsl(0, 100%, 98%);
$color-green-500: hsl(166, 100%, 37%);
$color-green-50: hsl(162, 63%, 97%);

$gradient-1: linear-gradient(to top, hsl(256, 71%, 46%), hsl(241, 72%, 46%));
$gradient-2: linear-gradient(
  to bottom,
  hsl(252, 100%, 67%),
  hsl(241, 81%, 54%)
);

// Media size
$half-screen-height: 50svh;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1440px;

// Sizing
$mobile-width: 375px;
$tablet-width: 686px;
$desktop-width: 736px;
$tablet-margin: 41px;
$tablet-padding-inline: 3.8vh;
$tablet-padding-block: 37vh;
$desktop-padding-inline: 32.6vh;
$desktop-padding-block: 32.6vh;

// Space
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-1000: 80px;

// Font configuration
$line-height-100: 100%;
$line-height-130: 130%;
$letter-spacing: 0px;
$font-hanken-grotesk: "HankenGrotesk", sans-serif;

@mixin text($size, $lh, $font-weight) {
  font-family: $font-hanken-grotesk;
  font-size: $size;
  line-height: $lh;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

.text-preset-1 {
  @include text(clamp(3.5rem, 2.5rem + 1.39vw, 3.5rem), $line-height-100, 900);
}

.text-preset-2 {
  @include text(clamp(3.5rem, 2.5rem + 1.39vw, 3.5rem), $line-height-100, 200);
}

.text-preset-3 {
  @include text(clamp(2rem, 1.5rem + 0.69vw, 2rem), $line-height-130, 500);
}

.text-preset-4 {
  @include text(clamp(1.5rem, 1.2rem + 0.52vw, 1.5rem), $line-height-130, 700);
}

.text-preset-5-bold {
  @include text(
    clamp(1.125rem, 0.95rem + 0.39vw, 1.125rem),
    $line-height-130,
    700
  );
}

.text-preset-5-medium {
  @include text(
    clamp(1.125rem, 0.95rem + 0.39vw, 1.125rem),
    $line-height-100,
    500
  );
}

.text-preset-6-bold {
  @include text(clamp(1rem, 0.85rem + 0.35vw, 1rem), $line-height-130, 700);
}

.text-preset-6-medium {
  @include text(clamp(1rem, 0.85rem + 0.35vw, 1rem), $line-height-130, 500);
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-navy-950 {
  color: $color-navy-950;
}

.color-navy-200 {
  color: $color-navy-200;
}

.color-navy-50 {
  color: $color-navy-50;
}

.color-blue-800 {
  color: $color-blue-800;
}

.color-blue-50 {
  color: $color-blue-50;
}

.color-yellow-400 {
  color: $color-yellow-400;
}

.color-yellow-50 {
  color: $color-yellow-50;
}

.color-red-400 {
  color: $color-red-400;
}

.color-red-50 {
  color: $color-red-50;
}

.color-green-500 {
  color: $color-green-500;
}

.color-green-50 {
  color: $color-green-50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    background: $color-navy-50;
  }

  @media (min-width: $bp-desktop) {
  }
}

.wrapper {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row;
    background: $color-white;
    border-radius: 24px;
    box-shadow:
      0 22px 32px rgba(0, 0, 0, 0.12),
      0 4px 12px rgba(0, 0, 0, 0.06);
  }

  @media (min-width: $bp-desktop) {
  }
}

.panel {
  @media (min-width: $bp-tablet) {
    max-width: $tablet-width;
  }

  @media (min-width: $bp-desktop) {
    max-width: $desktop-width;
  }

  &--result {
    background: $gradient-2;
    height: 60svh;
    border-radius: 0 0 28px 28px;
    display: flex;

    @media (min-width: $bp-tablet) {
      height: 55svh;
      width: 40svh;
      border-radius: 25px;
    }
    @media (min-width: $bp-desktop) {
    }

    &--container {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: $spacing-500;

      &--score {
        height: 70%;
        display: flex;
        flex-direction: column;
        &--point {
          background: $gradient-1;
          border-radius: 50%;
          aspect-ratio: 1 / 1;
          display: flex;
          flex-direction: column;
          text-align: center;

          padding-block: $spacing-400;
          margin-block: $spacing-400;
          margin-inline: $spacing-400;
          justify-content: center;
        }
      }

      &--status {
        height: 30%;
      }

      &--status > * + p {
        margin-top: $spacing-200;
      }

      @media (min-width: $bp-tablet) {
      }
      @media (min-width: $bp-desktop) {
      }
    }
  }

  &--summary {
    height: 40svh;

    @media (min-width: $bp-tablet) {
      height: 55svh;
      width: 40svh;
    }
    @media (min-width: $bp-desktop) {
    }

    &--container {
      display: flex;
      flex-direction: column;

      margin: $spacing-500;
    }
  }
}

.grid {
  margin-top: $spacing-400;
  display: grid;
  width: 100%;
}
.reaction {
  background: $color-red-50;
}

.memory {
  background: $color-yellow-50;
}

.verbal {
  background: $color-green-50;
}

.visual {
  background: $color-blue-50;
}

.row {
  margin-block: 0 $spacing-200;
  padding-block: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
}

.icone {
  margin-inline: 0 10px;
}

.continue {
  text-align: center;
  background: $color-navy-950;
  border-radius: 25px;
  padding-block: $spacing-200;
  margin-block: $spacing-200;
}
