// Colors
$color-result: purple;
$color-summary: green;

$color-white: hsl(0, 100%, 100%);
$color-back: hsl(0, 0%, 0%);
$color-navy-950: hsl(224, 30%, 27%);
$color-navy-200: hsl(241, 100%, 89%);
$color-navy-50: hsl(221, 100%, 96%);
$color-blue-800: hsl(234, 85%, 45%);
$color-blue-50: hsl(234, 71%, 97%);
$color-yellow-400: hsl(39, 100%, 56%);
$color-yellow-50: hsl(38, 100%, 98%);
$color-red-400: hsl(0, 100%, 67%);
$color-red-50: hsl(0, 100%, 98%);
$color-green-500: hsl(166, 100%, 37%);
$color-green-50: hsl(162, 63%, 97%);

$gradient-1: linear-gradient(to bottom, hsl(256, 71%, 46%), hsl(241, 72%, 46%));
$gradient-2: linear-gradient(
  to bottom,
  hsl(252, 100%, 67%),
  hsl(241, 81%, 54%)
);

// Media size
$half-screen-height: 50svh;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1440px;

// Sizing
$mobile-width: 375px;
$tablet-width: 686px;
$desktop-width: 736px;
$tablet-margin: 41px;
$tablet-padding-inline: 3.8vh;
$tablet-padding-block: 37vh;
$desktop-padding-inline: 32.6vh;
$desktop-padding-block: 32.6vh;

// Space
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-1000: 80px;

// Font configuration
$line-height-100: 100%;
$line-height-130: 130%;
$letter-spacing: 0px;
$font-hanken-grotesk: "HankenGrotesk", sans-serif;

@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-preset-1 {
  font-size: 72px;
  line-height: $line-height-100;
  letter-spacing: $letter-spacing;
}

.text-preset-2 {
  font-size: 56px;
  line-height: $line-height-100;
  letter-spacing: $letter-spacing;
}

.text-preset-3 {
  font-size: 32px;
  line-height: $line-height-130;
  letter-spacing: $letter-spacing;
}

.text-preset-4 {
  font-size: 24px;
  line-height: $line-height-130;
  letter-spacing: $letter-spacing;
}

.text-preset-5-bold {
  font-size: 18px;
  line-height: $line-height-130;
  letter-spacing: $letter-spacing;
}

.text-preset-5-medium {
  font-size: 18px;
  line-height: $line-height-130;
  letter-spacing: $letter-spacing;
}

.text-preset-6-bold {
  font-size: 16px;
  line-height: $line-height-130;
  letter-spacing: $letter-spacing;
}

.text-preset-6-medium {
  font-size: 16px;
  line-height: $line-height-130;
  letter-spacing: $letter-spacing;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
  }
}

.panel {
  @media (min-width: $bp-tablet) {
    max-width: $tablet-width;
  }

  @media (min-width: $bp-desktop) {
    max-width: $desktop-width;
  }

  &--result {
    background: $color-result;
    height: 60svh;

    @media (min-width: $bp-tablet) {
      height: 55svh;
      width: 60svh;
    }
    @media (min-width: $bp-desktop) {
      height: 55svh;
      width: 60svh;
    }
  }

  &--summary {
    background: $color-summary;
    height: 40svh;

    @media (min-width: $bp-tablet) {
      height: 55svh;
      width: 40svh;
    }
    @media (min-width: $bp-desktop) {
      height: 55svh;
      width: 40svh;
    }
  }
}
